<launch>
    <arg name="marker_size" default="5.9" />  <!--定义marker最外框的尺寸，注意单位是厘米-->
    <arg name="max_new_marker_error" default="0.2" /> 
    <arg name="max_track_error" default="0.2" />
    <arg name="cam_image_topic" default="/rgb/image_raw" /> <!--修改为自己发布的图像话题-->
    <arg name="cam_info_topic" default="/rgb/camera_info" /> <!--修改为自己发布的标定参数话题-->
    <arg name="output_frame" default="/rgb_camera_link" /> <!--修改为图片所在的坐标系，关系到后续的坐标系自动转换-->

    <node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen"> 
        <param name="marker_size"   type="double" value="$(arg marker_size)"/>
        <param name="max_new_marker_error"  type="double" value="$(arg max_new_marker_error)"/>
        <param name="max_track_error"   type="double" value="$(arg max_track_error)"/>
        <param name="output_frame"  type="string" value="$(arg output_frame)"/>
        <remap from="camera_image" to="$(arg cam_image_topic)"/>
        <remap from="camera_info" to="$(arg cam_info_topic)"/>
  </node>

    <include file="$(find wpb_mani_simulator)/launch/wpb_mani_qr_cube.launch"/>

</launch>