<launch>

  <!-- wpb_mani core-->
  <node pkg="wpb_mani_bringup" type="wpb_mani_core" name="wpb_mani_core" output="screen">
    <param name="serial_port" type="string" value="/dev/ftdi"/> 
    <rosparam file="$(find wpb_mani_bringup)/config/wpb_mani.yaml" command="load" />
  </node>
  
  <!-- calibrate -->
  <node pkg="wpb_mani_bringup" type="wpb_mani_calibrate_velocity" name="wpb_mani_calibrate_velocity" output="screen"/>

</launch>