<launch>

  <arg name="model" default="$(find wpb_mani_description)/urdf/wpb_mani.urdf.xacro"/>
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find wpb_mani_bringup)/rviz/calibrate_kinect.rviz" />

  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
  <param name="use_gui" value="$(arg gui)"/>

  <node if="$(arg gui)" name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" >
    <rosparam command="load" file="$(find wpb_mani_bringup)/config/wpb_mani.yaml" />
  </node>
  <node unless="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
    <rosparam command="load" file="$(find wpb_mani_bringup)/config/wpb_mani.yaml" />
  </node>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

  <!--- Azure Kinect -->
  <include file="$(find wpb_mani_bringup)/launch/azure_kinect_720p_wfov.launch" />

  <!-- Run wpb_mani_joint_zero -->
  <node name="wpb_mani_joint_zero" pkg="wpb_mani_bringup" type="wpb_mani_joint_zero"  output="screen"/>

  <!-- Run wpb_mani_calibrate_kinect -->
  <node name="wpb_mani_calibrate_kinect" pkg="wpb_mani_bringup" type="wpb_mani_calibrate_kinect"/>

</launch>
