<launch>

  <arg name="model" default="$(find wpb_mani_description)/urdf/wpb_mani.urdf.xacro"/>
  <arg name="gui" default="false" />
  <arg name="rvizconfig" default="$(find wpb_mani_bringup)/rviz/urdf.rviz" />

  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
  <param name="use_gui" value="$(arg gui)"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

  <!-- wpb_mani_dummy-->
  <node pkg="wpb_mani_bringup" type="wpb_mani_dummy" name="wpb_mani_dummy" output="screen"/>
  
</launch>
